// Estilos de las cajas contenedoras del formulario en la pagina "alta y contacto"
.form-div{
    width: 70%;
    background: rgb(107, 144, 128, .1);
    border: 2px solid rgb(107, 144, 128, .2);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: $fourth-color;
    padding: 40px 30px 55px;
    margin-bottom: 50px;
}

.form-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-input{
    width: 45%;
    height: 50px;
    margin: 13px 0;
}