// Contenido de la card
.content{
    width: 100%;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    h3{
        color: $fourth-color;
        margin: 10px;
    }
    p{
        line-height: 1.5;
        color: $secundary-color;
        &:hover{
            color: $fourth-color;
        }
    }
}