// Texto de la seccion de "nosotros"

.paragraph-container{
    width: 45%;
    margin: 20px;
    background-color: #eaf4f4a1;
    padding: 10px;
    border-radius: 6px;
    p{
        line-height: 20px;
        text-align: justify;
    }
}