// Estilos de los inpus y checkbox de la pagina de "alta y contacto"
.theinput{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: $font-size-sh;
    color: $fourth-color;
    padding: 15px;
    overflow: hidden;
    resize: none;
    &::placeholder{
        color: $third-color;
    }
    &:focus{
        background-color: $secundary-color;
    }
    &:hover{
        background-color: $secundary-color;
    }
}

.long-description{
    height: 125px;
}

.form-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-check{
    font-size: .8rem;
}

.input-check{
    accent-color: $fourth-color;
    margin: 20px 3px 20px 0;
}

.input-error{
    color: rgb(255, 2, 2);
    display: none;
}

.theinput[aria-invalid='true']{
    outline: 2px solid rgb(255, 2, 2);
}